body,html{
    margin: 0;
    padding: 0;
    font-family: serif;
    width: 100%;
}


#loading{
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
  #loading img{
    width: min(30vw, 30vh);
    height: auto;
    border-radius: 20px;
    animation: loading 1s ease-in-out;
  }
  @keyframes loading {
    from{
        transform: scale(0.5);
    }
  }


.menu_blackout{
  display: none;
}
.menu_button{
  display: none;
}
  .menu img{
    display: none;
  }
  .menu_ul_1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .menu_ul_1 button{
    width: 100%;
    height: 50px;
    padding: 0;
    text-align: center;
    background: none;
    border: none;
    color: #888;
  }
  .menu_ul_1 button:hover{
    color: #08e2d8;
    border-bottom: solid #08e2d8 2px;
  }
  .menu_ul_2{
    display: none;
  }
  .menu_ul_1 button:hover ~ .menu_ul_2{
    display: block;
  }
  .menu_ul_2:hover{
    display: block;
  }
  .menu_ul_2{
    padding: 0 10px 10px 10px;
    width: 150px;
    border-radius: 0 0 0.5em 0.5em;
    background-color: #fff;
    margin: 0 auto;
    list-style: none;
    box-shadow: #eeeeeeee 0px 10px 10px;
  }
  .menu_ul_2 li{
    padding: 0.5em 0;
  }
    .menu_ul_2 li a{
      text-decoration: none;
      color: #08e2d8;
      display: block;
      width: 100%;
    }
    .menu_ul_2 li a:hover{
      color: #1bf0e9;
    }


.subtitle{
  text-align: center;
  margin: 0 0 20px 0;
  font-size: 2em;
  transform: translateX(-150px);
  animation: subtitle 1s ease forwards;
  animation-timeline: view();
}

@keyframes subtitle {
  to {
   opacity: 1;
   transform: translateX(0px);
 }
}

.about div div h2{
  animation: points 1s ease forwards;
  animation-timeline: view();
}

@keyframes points{
  from{
    opacity: 0;
  }
  to {
   opacity: 1;
 }
}

header{
  height: 50px;
  display: grid;
  grid-template-columns: 200px 1fr;
  box-shadow: #d8d8d8 0px 0px 5px;
  background-color: #fff;
  position: fixed;
  width: calc(100vw - 10px);
  padding-right: 10px;
  z-index: 1;
}

  header h1{
    margin: 0;
  }
  header h1 img{
    height: 44px;
    margin: 3px 0 3px 10px;
    margin-left: 10px;
  }

  .menu_all{
    display: grid;
    grid-template-columns: 1fr 100px;
  }
  .join{
    margin: 5px 10px 5px 10px;
    height: 30px;
    background-color: #0bded7;
    border-radius: 2em;
    padding: 5px 10px;
    box-shadow: #c8c8c8 0px 0px 5px;
  }
  .join:hover{
    background-color: #09f1e9;
  }
  .join a{
    text-decoration: none;
    color: #000;
    font-size: 0.9em;
  }

.top{
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.top div{
    height: fit-content;
    margin-top: 35vh;
    margin-left: auto;
    margin-right: auto;
}

.top h3{
  font-size: 2em;
  color: #e04375;
  margin: 0;
  padding: 0;

  transform: translateY(75px);
  animation: slideIn 3s ease forwards;
}

.top h2{
    font-size: 3em;
    color: #e04375;
    margin: 0;
    padding: 0;

    transform: translateY(75px);
    animation: slideIn 3s ease forwards;
}
.top img{
    right: 0;
    width: 300px;
    height: 300px;
    margin: calc(45vh - 150px) 5vw;
    border-radius: 20px;

    transform: translateX(200px);
    display: inline-block;
    animation: slideIn 3s ease forwards;
}

@keyframes slideIn {
    to {
     transform: translateY(0);
     transform: translateX(0);
   }
 }

.a_perfect,.a_safety,.a_ivent{
  display: flex;
}
  .about div div{
    height: 300px;
    margin: 20px;
    width: calc(100vw - 40px);
  }
  .a_perfect,.a_ivent{
    background-color: #ececec;
  }
  .about img {
    max-width: 200px;
    max-height: 200px;
    margin: auto 0 auto 20px;
    animation: a_img 3s ease forwards;
    animation-timeline: view();
  }

  @keyframes a_img {
    to {
     opacity: 1;
     max-width: 300px;
     max-height: 300px;
     transform: translateX(0px);
   }
  }

  #forsakuracraft{
    text-decoration: none;
    color: #000;
    margin: 10px calc(50vw - 150px) 50px  calc(50vw - 150px);
    width: 300px;
    display: inline-block;
  }
  #forsakuracraft div{
    border-radius: 20px;
    background-color: #1fe5ff;
    padding: 10px;
    display: flex;
  }
  #forsakuracraft div:hover{
    background-color: #3fe9ff;
  }
  #forsakuracraft div img{
    border-radius: 10%;
  }

  .about span{
    color: #e04375;
  }

  .a_join{
    background-color: #0bded7;
    box-shadow: #e7e7e7 0px 0px 10px;
    padding: 10px 20vw;
    border-radius: 2em;
    width: fit-content;
    margin: 50px auto;
  }
  .a_join:hover{
    box-shadow: #e7e7e7 0px 0px 5px;
    background-color: #09f1e9;
  }
  .a_join a{
    text-decoration: none;
    color: #000;
  }

.news{
  padding: 20px;
}
  .n_box{
    border-radius: 15px;
    padding: 20px;
    box-shadow: inset #eaeaea 0px 0px 10px;
  }
  .n_box h3,.n_box p{
    margin: 0;
  }

.member div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.m_card{
  width: 300px;
  box-shadow: #f1f1f1 0px 0px 10px;
  border-radius: 10px;
  padding: 10px;
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
}
  .m_name{
    margin: 0;
    text-align: center;
  }
  .m_rool{
    margin: 0;
    background-color: #e7e7e7;
    border-radius: 0.5em;
    padding: 0 2px;
    height: 15px;
    font-size: 0.5em;
  }
  
  .iframe{
    width: 90%;
    margin: 0 auto 20px auto;
  }
  .member_list{
    height: 70vh;
    box-shadow: #e7e7e7 0px 0px 10px;
  }


  
  .table{
    overflow-x: auto;
    margin: 0 20px;
  }
  table{
    width: calc(100% - 40px);
    box-shadow: #efefef 0px 0px 10px;
    white-space: nowrap;
  }
    th{
      background-color: #f6f6f6;
    }
    th,td{
      text-align: left;
      padding: 0.7em;
    }
    td small{
      font-size: 0.7em;
    }
  .server_info p{
    margin-right: 20px;
    text-align: end;
    font-size: 0.7em;
  }
  .links h3{
    margin-left: 20px;
  }
  .links th{
    width: 20px;
  }
  .links td a{
      overflow: hidden;
      text-overflow: ellipsis;
  }
  .more a{
    text-decoration: none;
    color: #000;
  }
  .more:hover{
    background-color: #efefef;
  }

  .contact .iframe{
    height: 1350px;
    margin-top: 20px;
  }
  .con_cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .con_servers p{
    text-align: center;
  }
    .con_card{
      width: 250px;
      box-shadow: #f1f1f1 0px 0px 10px;
      border-radius: 10px;
      padding: 10px;
      display: block;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .con_card div{
      display: flex;
    }
    .con_card_h3{
      overflow-x: hidden;
      white-space: nowrap;
      margin: 0.25em 0 0.5em 0;
    }
    .con_card_btn{
      width: 230px;
      margin: 10px;
      text-align: center;
      padding: 0.5em 0;
      border-radius: 2em;
      border: none;
      box-shadow: #eee 0px 0px 10px;
      background-color: #08e2d8;
    }
    .con_card_btn:hover{
      background-color: #09f1e9;
      box-shadow: none;
    }


#contact_server_background{
  display: none;
  position: fixed;
  background-color: #000000be;
  height: 100vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  place-items: center;
}
  #contact_server_back_bg{
    border: none;
    background: none;
    width: 100%;
    height: 30vh;
  }
  #contact_server_info{
    position: static;
    background-color: #fff;
    height: 70vh;
    width: 100%;
    max-width: 700px;
    border-radius: 25px 25px 0 0;

    transform: translateY(70vh);
    animation: contact_server_detail 0.75s ease forwards;
  }
  @keyframes contact_server_detail{
    to{
      transform: translateY(0);
    }
  }
    #contact_server_name{
      text-align: center;
      font-size: 2em;
      margin: 20px 20px 0 20px;
    }
    #contact_server_about{
      height: calc(70vh - 2em);
      margin: 20px;
      overflow-y: hidden;
    }

    #contact_server_btns{
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #eee;
    }
      #contact_server_more{
        background: linear-gradient(0, #eee, #fff);
        border: none;
        width: 100%;
        height: 3em;
        text-align: center;
        color: #444;
      }
      #contact_server_more:hover{
        color: #ccc;
      }
      #contact_server_btns div , #contact_server_back{
        width: 80%;
        margin: 1em auto;
        max-width: 500px;
        text-align: center;
        padding: 0.25em 0;
        border-radius: 2em;
        box-shadow: #ddd 0px 0px 15px;
      }
      #contact_server_link div{
        background-color: #09f1e9;
      }
        #contact_server_link{
          text-decoration: none;
          color: #000;
        }
          #contact_server_link div:hover{
            background-color: #1bf0e9;
            box-shadow: inset #08e2d8 0px 0px 5px;
          }
        #contact_server_back{
          background: none;
          border: none;
          display: block;
          padding: 0.5em 0;
        }
          #contact_server_back:hover{
            box-shadow: inset #dadada 0px 0px 15px;
          }



footer{
  box-shadow: #d5d5d5 0px 0px 10px;
}
footer p{
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 640px) {
  header{
    display: flex;
  }
  .menu_all{
    display: none;
  }
  .menu_button{
    margin: 0 10px 0 auto;
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }
    .menu_button img{
      height: 40px;
      width: 40px;
    }

  .menu_show_bg{
    display: block;
    position: absolute;
    width: 100vw;
    margin-top: 50px;
    height: calc(100vh - 50px);
    background-color: #656565aa;
    border: none;
  }
  .menu_show{
    display: block;
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #fff;
    height: calc(100vh - 50px);
    width: fit-content;
    padding: 0 20px;
    box-shadow: #8e8e8ef1 0px 20px 20px;
    overflow-y: auto;

    transform: translateX(200px);
    animation: menu_in 0.75s ease forwards;
  }
  @keyframes menu_in{
    to{
      transform: translateX(0);
    }
  }
  .menu_show img{
    display: block;
    width: 80px;
    margin: 10px auto 0 auto;
    border-radius: 20px;
  }
  .menu_show ul{
    display: block;
    box-shadow: none;
  }
  .menu_show .join{
    text-align: center;
    margin-right: 20px;
  }
  


  .top{
    display: flex;
    flex-direction: column-reverse;
    height: 90vh;
  }
  .top img{
    margin: 0px auto;
    width: 220px;
    height: 220px;

    transform: translateX(0px);
    transform: translateY(150px);
  }
  .top div{
    margin: 10vh auto;
  }

  .a_safety{
    flex-direction: column;
  }
  .a_perfect,.a_ivent{
    flex-direction: column-reverse;
  }
  
  .about div div{
    height: fit-content;
  }
  .about div div h2{
    text-align: center;
  }
  .about img{
    margin: 20px auto 0 auto;
  }
  .a_perfect img{
    margin-right: 0;
  }
}
